# Python
/.venv/
/venv/

__pycache__/
.pytest_cache/

# Docker
/docker/.env
/docker/postgresql/data/
/docker/dynamodb/data/
/docker/redis/data/
/docker/redis-insight/data/

# Django
/static/
/.env

# SQlite3
/db.sqlite3
