COMPOSE_PROJECT_NAME=django

NGINX_PORT=80

POSTGRES_HOST=postgresql
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=data

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_INSIGHT_PORT=5540

REGION_NAME=ap-southeast-1
AWS_ACCESS_KEY_ID=fakeMyKeyId
AWS_SECRET_ACCESS_KEY=fakeSecretAccessKey
ENDPOINT_URL=http://dynamodb:8000
DYNAMODB_ADMIN_PORT=8001

# Django secret key
SECRET_KEY=Myb6Bh1c2XDBA3xfYW6pwUH2NLZ3Kmkt

# Django debug
DEBUG=True

# Django CORS
ALLOWED_HOSTS=*

# Django language
LANGUAGE_CODE=en-us
TIME_ZONE=UTC

# Django static URL
STATIC_URL=static/

# Django log level
LOG_LEVEL=INFO
SQL_LOG_LEVEL=INFO

# Mailhog
MAILHOG_SMTP_PORT=1025
MAILHOG_HTTP_PORT=8025

# Celery
CELERY_FLOWER_PORT=5555
CELERY_EMAIL_QUEUE=email

# SMTP
EMAIL_HOST=mailhog
EMAIL_PORT=1025
EMAIL_HOST_USER=no-reply@mailhog.com
EMAIL_HOST_PASSWORD=P@ssword
EMAIL_USE_TLS=false
EMAIL_USE_SSL=false
