services:
  api:
    build:
      context: ..
      dockerfile: docker/api/Dockerfile
    ports:
      - ${API_PORT}:8000
    volumes:
      - ../src:/src
    depends_on:
      postgresql:
        condition: service_healthy
    restart: always

  postgresql:
    image: postgres:17.6
    ports:
      - ${POSTGRES_PORT}:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./postgresql/data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: always
