services:
  django:
    build:
      context: ..
      dockerfile: docker/django/Dockerfile
    expose:
      - 8000
    volumes:
      - ../src:/src
      - ../resource:/resource
      - ../static:/static
      - ../docker/.env:/.env
    command: bash -c "python manage.py wait_for_db && gunicorn main.wsgi:application --bind 0.0.0.0:8000 --reload"
    environment:
      - POSTGRES_DOCKER_HOST=postgresql
      - REDIS_DOCKER_HOST=redis
    restart: always

  postgresql:
    image: postgres:17.6
    ports:
      - ${POSTGRES_PORT}:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./postgresql/data:/var/lib/postgresql/data

  redis:
    image: redis:8.2.2
    ports:
      - ${REDIS_PORT}:6379
    volumes:
      - ./redis/data:/data
    command: [ "redis-server", "--appendonly", "yes", "--requirepass", "${REDIS_PASSWORD}" ]
    restart: always

  nginx:
    image: nginx:1.29.2
    ports:
      - ${NGINX_PORT}:80
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ../static:/app/static
    restart: always
