services:
  django:
    build:
      context: ..
      dockerfile: docker/django/Dockerfile
    expose:
      - 8000
    volumes:
      - ../src:/src
      - ../docker/django/static:/static
    command: [ "gunicorn", "main.wsgi:application", "--bind", "0.0.0.0:8000", "--reload" ]
    environment:
      - POSTGRES_DOCKER_HOST=postgresql
    depends_on:
      postgresql:
        condition: service_healthy
    restart: always

  postgresql:
    image: postgres:17.6
    ports:
      - ${POSTGRES_PORT}:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./postgresql/data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: always

  nginx:
    image: nginx:1.29.2
    ports:
      - ${NGINX_PORT}:80
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./django/static:/app/static
    depends_on:
      - django
    restart: always
