services:
  django:
    build:
      context: ..
      dockerfile: docker/django/Dockerfile
    expose:
      - 8000
    volumes:
      - ../src:/src
      - ../docker/.env:/.env
      - ../resource:/resource
      - ../static:/static
    command: bash -c "python manage.py wait_for_db \
                      && python manage.py wait_for_redis \
                      && python manage.py runserver 0.0.0.0:8000"
    restart: always

  celery-flower:
    build:
      context: ..
      dockerfile: docker/celery-flower/Dockerfile
    ports:
      - ${CELERY_FLOWER_PORT}:5555
    restart: always

  celery-worker-mail:
    build:
      context: ..
      dockerfile: docker/celery-worker-mail/Dockerfile
    environment:
      CELERY_EMAIL_QUEUE: ${CELERY_EMAIL_QUEUE}
    restart: always

  postgresql:
    image: postgres:17.6
    ports:
      - ${POSTGRES_PORT}:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./postgresql/data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:8.2.2
    expose:
      - 6379
    volumes:
      - ./redis/data:/data
    command: [ "redis-server", "--appendonly", "yes", "--requirepass", "${REDIS_PASSWORD}" ]
    restart: always

  redis-insight:
    image: redis/redisinsight:2.70.1
    ports:
      - ${REDIS_INSIGHT_PORT}:5540
    environment:
      RI_REDIS_HOST: redis
      RI_REDIS_PORT: 6379
      RI_REDIS_PASSWORD: ${REDIS_PASSWORD}
    volumes:
      - ./redis-insight/data:/data
    restart: always

  dynamodb:
    image: amazon/dynamodb-local:3.1.0
    expose:
      - 8000
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath /var/lib/dynamodb"
    volumes:
      - ./dynamodb/data:/var/lib/dynamodb
    restart: always

  dynamodb-admin:
    image: aaronshaf/dynamodb-admin:5.1.3
    ports:
      - ${DYNAMODB_ADMIN_PORT}:8001
    environment:
      DYNAMO_ENDPOINT: http://dynamodb:8000
    restart: always

  nginx:
    image: nginx:1.29.2
    ports:
      - ${NGINX_PORT}:80
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ../static:/app/static
    restart: always

  mail-server:
    image: maildev/maildev:2.2.1
    expose:
      - 1025  # SMTP port
    ports:
      - ${MAIL_SERVER_UI_PORT}:1080
    restart: always
