services:
  nginx:
    image: nginx:1.29.2
    profiles:
      - server
    ports:
      - ${NGINX_PORT}:80
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ../static:/app/static
    restart: always

  django:
    build:
      context: ..
      dockerfile: docker/django/Dockerfile
    profiles:
      - server
    expose:
      - 8000
    volumes:
      - ../src:/src
      - ../.env:/.env
      - ../static:/static
    command: bash -c "python manage.py wait_for_db && \
                      python manage.py wait_for_redis && \
                      python manage.py runserver 0.0.0.0:8000"
    restart: always

  postgresql:
    image: postgres:17.6
    profiles:
      - database
    ports:
      - ${POSTGRES_PORT}:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./postgresql/data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:8.2.2
    profiles:
      - database
    ports:
      - ${REDIS_PORT}:6379
    command: [ "--requirepass", "${REDIS_PASSWORD}" ]
    restart: always

  dynamodb:
    image: amazon/dynamodb-local:3.1.0
    profiles:
      - database
    ports:
      - ${DYNAMODB_PORT}:8000
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath /var/lib/dynamodb"
    volumes:
      - ./dynamodb/data:/var/lib/dynamodb
    restart: always

  mail-dev:
    image: maildev/maildev:2.2.1
    profiles:
      - mail_server
    expose:
      - 1025  # SMTP port
    ports:
      - ${MAIL_DEV_UI_PORT}:1080
    restart: always

  celery-worker-mail:
    build:
      context: ..
      dockerfile: docker/celery-worker-mail/Dockerfile
    profiles:
      - celery_worker
    environment:
      CELERY_EMAIL_QUEUE: ${CELERY_EMAIL_QUEUE}
    volumes:
      - ../src:/src
      - ../.env:/.env
    restart: always

  celery-flower:
    build:
      context: ..
      dockerfile: docker/celery-flower/Dockerfile
    profiles:
      - monitor
    ports:
      - ${CELERY_FLOWER_PORT}:5555
    environment:
      - CELERY_FLOWER_BROKER=${CELERY_FLOWER_BROKER}
      - CELERY_FLOWER_RESULT_BACKEND=${CELERY_FLOWER_RESULT_BACKEND}
    restart: always

  redis-insight:
    image: redis/redisinsight:2.70.1
    profiles:
      - db_ui
    ports:
      - ${REDIS_INSIGHT_PORT}:5540
    environment:
      RI_REDIS_HOST: redis
      RI_REDIS_PORT: 6379
      RI_REDIS_PASSWORD: ${REDIS_PASSWORD}
    volumes:
      - ./redis-insight/data:/data
    restart: always

  dynamodb-admin:
    image: aaronshaf/dynamodb-admin:5.1.3
    profiles:
      - db_ui
    ports:
      - ${DYNAMODB_ADMIN_PORT}:8001
    environment:
      DYNAMO_ENDPOINT: http://dynamodb:8000
    restart: always
