{% extends 'layouts/base.html' %}

{% block title %}
Change password
{% endblock title %}

{% block navbar %}
{% include 'layouts/navbar.html' with path='change-password' %}
{% endblock navbar %}

{% block main %}
<div class="container bg-body-tertiary shadow border rounded px-4 py-5 mt-5 change-password-container">
  <div class="mx-auto">
    <h4>Change password</h4>

    <hr>

    <form method="post" onsubmit="submitChangePasswordForm(event)">
      {% csrf_token %}

      <div class="mb-3">
        <label for="curentPasswordInput" class="form-label">Current password</label>
        <input type="password" name="current_password" id="curentPasswordInput" class="form-control" value="{{ form.current_password.value|default:'' }}">
        {% include 'components/field_errors.html' with form=form name='current_password' %}
      </div>

      <div class="mb-3">
        <label for="newPasswordInput" class="form-label">New password</label>
        <input type="password" name="new_password" id="newPasswordInput" class="form-control" value="{{ form.new_password.value|default:'' }}">
        {% include 'components/field_errors.html' with form=form name='new_password' %}
      </div>

      <div class="mb-4">
        <label for="newPasswordConfirmInput" class="form-label">New password confirm</label>
        <input type="password" id="newPasswordConfirmInput" class="form-control">
        <div id="newPasswordConfirmError"></div>
      </div>

      <div class="mb-4 text-end">
        <small class="text-info-emphasis">
          When you changed password successfully,<br>
          The system will logout all sessions.
        </small>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Change password</button>
      </div>
    </form>
  </div>
</div>
{% endblock main %}

{% block style %}
<style>
  .change-password-container {
    max-width: 30rem;
  }
</style>
{% endblock style %}

{% block script %}
<script>
  const newPasswordInput = document.querySelector('#newPasswordInput')
  const newPasswordConfirmInput = document.querySelector('#newPasswordConfirmInput')

  const newPasswordConfirmError = document.querySelector('#newPasswordConfirmError')

  function submitChangePasswordForm(event) {
    if (newPasswordInput.value != newPasswordConfirmInput.value) {
      newPasswordConfirmError.innerHTML = generateErrorHTML([{ message: 'The new password confirm not the same as the new password' }])
      event.preventDefault()
    }
  }
</script>
{% endblock script %}
