{% extends 'layouts/base.html' %}

{% block title %}
Profile
{% endblock title %}

{% block navbar %}
{% include 'layouts/navbar.html' with path='profile' %}
{% endblock navbar %}

{% block main %}
<div class="container bg-body-tertiary shadow border rounded px-4 py-5 mt-5 profile_container">
  <div class="mx-auto">
    <h4>Update profile</h4>

    <hr>

    <form method="post">
      {% csrf_token %}

      <div class="mb-3">
        <label for="usernameInput" class="form-label">Username</label>
        <input type="text" name="username" id="usernameInput" class="form-control" minlength="4" maxlength="32" required value="{{ form.username.value|default:'' }}">
        {% include 'components/field_errors.html' with form=form name='username' %}
      </div>

      <div class="mb-3">
        <label for="display_nameInput" class="form-label">Display name</label>
        <input type="text" name="display_name" id="display_nameInput" class="form-control" maxlength="128" required value="{{ form.display_name.value|default:'' }}">
        {% include 'components/field_errors.html' with form=form name='display_name' %}
      </div>

      <div class="mb-3">
        <label for="phone_numberInput" class="form-label">Phone number</label>
        <input type="text" name="phone_number" id="phone_numberInput" class="form-control" minlength="10" maxlength="10" value="{{ form.phone_number.value|default:'' }}">
        {% include 'components/field_errors.html' with form=form name='phone_number' %}
      </div>

      <div class="mb-3">
        <label for="emailInput" class="form-label">Email</label>
        <input type="email" name="email" id="emailInput" class="form-control" maxlength="254" value="{{ form.email.value|default:'' }}">
        {% include 'components/field_errors.html' with form=form name='email' %}
      </div>

      <div class="row mb-5">
        <div class="col">
          <label for="provinceSelect" class="form-label">Province</label>
          <select name="province" class="form-select" id="provinceSelect">
            <option value="">---</option>
            {% for province in provinces %}
            <option value="{{ province.id }}">{{ province.name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col">
          <label for="wardSelect" class="form-label">Ward</label>
          <select name="ward" class="form-select" id="wardSelect">
            {% if form.province.value and form.ward.value %}
            <option value="{{ form.instance.ward.id }}" selected>{{ form.instance.ward.name }}</option>
            {% else %}
            <option value="">---</option>
            {% endif %}
          </select>
        </div>
      </div>

      <div class="text-center d-grid mb-4">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>
{% endblock main %}

{% block style %}
<style>
  .profile_container {
    max-width: 40rem;
  }
</style>
{% endblock style %}

{% block script %}
<script>
  const provinceSelect = document.querySelector('#provinceSelect')
  const wardSelect = document.querySelector('#wardSelect')

  const updateWardSelect = async () => {
    let wards = []

    let nextPage = (provinceSelect.value) ? `{% url 'account_wards_api-list' %}?province=${provinceSelect.value}` : null

    while (nextPage !== null) {
      let response = await callAPI(nextPage, "GET")
      nextPage = response?.next
      wards = [...wards, ...response.results]
    }

    wardSelect.innerHTML = wards.reduce((ele, { id, name }) => ele + `<option value="${id}">${name}</option>`, '<option value="">---</option>')
  }

  provinceSelect.addEventListener('change', updateWardSelect)

  provinceSelect.value = "{{ form.province.value|default:'' }}";

  (async () => {
    if (provinceSelect.value !== '') {
      await updateWardSelect()
      wardSelect.value = "{{ form.ward.value|default:'' }}"
    }
  })()
</script>
{% endblock script %}
